<section class="main">
  <div class="container  main__container">
    <div class="main__info">
      <h1 id="h1" class="double-title  main__double-title">
        Самая вкусная пицца в мире
        <span class="double-title__span"> только в Pizza Cheff</span>
      </h1>

      <div class="main__advantages">
        <div class="advantage">
          <div class="advantage__image">
            <img src="assets/images/hop.png" alt="hop">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">Лучшее тесто</div>
            <div class="advantage__description">Мы создаем тесто только из
              отборной итальянской муки
              наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="assets/images/kitchen-pack.png" alt="chef's hat">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">лучшие повара</div>
            <div class="advantage__description">Пиццы готовят самые
              профессиональные
              итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="assets/images/seo-and-web.png" alt="medal">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">гарантия качества</div>
            <div class="advantage__description">Наша пиццерия получила
              множество наград и
              признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage__image">
            <img src="assets/images/holidays.png" alt="holidays">
          </div>
          <div class="advantage__text">
            <div class="advantage__title">отборные рецепты</div>
            <div class="advantage__description">Мы используем рецепты
              от мировых лидеров
              в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main__action">
        <a class="btn main__btn" (click)="test()">Выбрать пиццу</a>
<!--        routerLink="/products"-->
      </div>
    </div>
    <div class="main__pizza">
      <img src="assets/images/pizza_big.png" alt="pizza" class="main__pizza-img">
    </div>
  </div>
</section>

<!--<div>{{cart.count}}</div>-->
<div class="cookie">
  <div class="cookie-title">
    <div>Мы используем файлы cookie</div>
    <span class="cookie-accept">&times;</span>
  </div>
  <div class="cookie-text">
    Для корректной работы сайта мы используем cookie-файлы.
  </div>
  <div class="cookie-button">
    <button class="btn cookie-accept">Принять</button>
  </div>
</div>
