<section class="about">
  <div class="container about__container">
    <div>
      <div class="double-title order__double-title">
        <span class="double-title__span">Хватит думать! </span>Доставим заказ за 30 минут!
      </div>
      <div class="order__text-message" id="order">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="about__image">
      <img src="assets/images/pizza_big.png" alt="pizza">
      <img src="assets/images/pizza_big.png" alt="pizza">
    </div>
  </div>
</section>
