<section class="order" #orderElement>
  <div class="container order__container">
    <div class="order__text">
      <div class="double-title order__double-title">
        <a routerLink="/order" [queryParams]="{product:'test'}" class="double-title__span">Хватит думать! </a>Доставим
        заказ за 30 минут!
      </div>
      <div class="order__text-message" id="order">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order__form">
      <span class="p-float-label">
        <input type="text" class="base-input order__base-input" pInputText id="product-input"
               [(ngModel)]="formValues.productTitle">
        <label htmlFor="product-input">Пицца</label>
      </span>
      <span class="p-float-label">
      <input type="text" class="base-input order__base-input" pInputText id="address__input"
             [(ngModel)]="formValues.address">
    <label htmlFor="address__input">Адрес доставки</label>
      </span>
      <span class="p-float-label">
      <input type="text" class="base-input order__base-input" pInputText id="phone__input"
             [(ngModel)]="formValues.phone">
        <label htmlFor="phone__input">Телефон</label>
      </span>

      <button tuiButton class="btn order__btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order__image">
      <img src="../../../assets/images/pizzzzza.png" alt="pizza" class="order__image-img">
    </div>
  </div>
</section>
